//.container{background-color: orange}

//.top{
//  background-color: red;
//}

//.content{
//  background-color: blue;
//}

.header {
  //  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 20px;
//  box-shadow: 0px 1px 10px 0px #cfcfcf;
}

.img-responsive {
  box-shadow: 0px 2px 10px 0px #cfcfcf;
}
h1{
  text-shadow: 1px 1px #cfcfcf;
  font-family: Verdana, Geneva, sans-serif;
}

.top{
  background-color: #269abc;
  .header{background-color: red}
}

.content{

  background: linear-gradient(#9da1ff, #7f82ff, #0006ba); /* Standard syntax */

}
