$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "colors";
@import "navbar";
@import "home";

.container {
  max-width: 1024px;
}

.panel {
  border-color: $color4;
  .panel-heading {
    background-color: $color1;
    color:$color2;
  }
  .panel-body{
    background-color:$color2;
    color: $color5;
  }
}
