$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "colors";
@import "bootstrap.scss";
@import "navbar";
@import "home";
@import "recipes";

.container {
  max-width: 1024px;
}

//h1, h2, h3, h4, h5, p {
//  color: $color1;
//}



.ta-toolbar{
//  display: none;
  width:100%;
}


.ta-editor {
  height: 100px !important;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  margin: 20px 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.search{
  margin-bottom: 20px;
}
