<form name="addrecipeForm" ng-controller="RecipesCtrl" ng-submit="addRecipe()">


  <h4>Voeg nieuw recept toe</h4>

  <form role="form" novalidate>
    <div class="form-group">
      <input ng-model="formData.name" type="text" class="form-control" placeholder="Naam van het recept" required/>
    </div>
    <div class="form-group">
      <textarea ng-model="formData.description" class="form-control" placeholder="Korte beschrijving van het recept"
                title="Description"></textarea>
    </div>
    <div class="form-group">
      <label>Categorie</label>
      <select ng-model="formData.category" class="form-control"
              ng-options="stars for stars in ['BBQ','Italiaans','Hollands']" title="Category" required>
        <option value>Kies categorie</option>
      </select>
    </div>
    <div class="form-group">
      <input ng-model="formData.ingredients" type="text" class="form-control" placeholder="ingredienten" />
    </div>
    <div class="form-group">
      <input ng-model="formData.image" type="text" class="form-control" placeholder="image URL" />
    </div>


    <div class="form-group">
      <input type="submit" class="btn btn-primary pull-right" value="Voeg toe"/>
    </div>
  </form>
