<div class="recipes" ng-init="getRecipes()">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-info" ng-repeat="recipe in recipes">
        <div class="panel-heading">
          <h3 class="panel-title">
            <div class="recipe-name">{{recipe.name}}
              <button class="btn btn-warning pull-right" ng-click="deleteRecipe(recipe._id)">Delete</button>
              <span class="pull-right">{{recipe.category}}</span></div>
          </h3>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
            <img class="img-responsive" ng-src="{{recipe.image}}">
          </div>
          <div class="col-md-6">
            <div class="description">
              {{recipe.description}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="error" ng-show="error">
      {{error}}
    </div>

  </div>

</div>
</div>




