<div class="recipes" ng-init="getRecipes()">
  <div class="search">
    <div class="row">
      <div class="col-sm-12">
        <!--<div class="input-group">-->
        <input type="text" ng-model="searchText" placeholder="Zoek naar...">
        <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-primary" type="button">Zoek</button>-->
        <!--</span>-->
        <!--</div>-->
      </div>
    </div>
  </div>

  <div class="search">
    <div class="row">
      <div class="col-sm-12">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-lg-2 control-label">Recept Categorie</label>

            <div class="col-lg-10">
              <label class="radio-inline">
                <input type="radio" name="radio" ng-model="searchText" ng-true-value="bbq" > BBQ
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" ng-model="searchText" ng-true-value="italiaans"> Italiaans
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" ng-model="searchText" ng-true-value="hollands"> Hollands
              </label>
            </div>
          </div>
      </form>
    </div>
  </div>

    <button class="btn btn-primary" ng-click="clear(searchText)">Clear</button>

  <div class="row">
    <div ng-repeat="recipe in recipes | filter:searchText">

      <div class="col-sm-6 col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">
              <div class="recipe-name"><a href="#/recipes/{{recipe._id}}">{{recipe.name}}</a>
                <!--<button class="btn btn-warning pull-right" ng-click="deleteRecipe(recipe._id)">Delete</button>-->
                <div class="" ng-repeat="category in recipe.category">
                <div class="label label-primary pull-right">{{category}}</div>
                  </div>
              </div>
            </h3>
          </div>
          <div class="panel-body">
            <div class="col-sm-6">
              <img class="img-responsive" ng-src="{{recipe.image}}">
            </div>
            <div class="col-sm-6">
              <div ng-bind-html="recipe.description" class="description">

                <h2>{{recipe._id}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="error" ng-show="error">
    {{error}}
  </div>
</div>
