<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container" ng-controller="collapseController">
    <a ng-click="tab.setTab('home')" href="#" class="navbar-brand">RedThings</a>
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav">
        <li ng-class="{ active:tab.isSet('home') }">
          <a ng-click="tab.setTab('home')" href="#">Home</a>
        </li>
        <li ng-class="{ active:tab.isSet('recipes') }">
          <a ng-click="tab.setTab('recipes')" href="#/recipes">Recepten</a>
        </li>
        <li ng-class="{ active:tab.isSet('addrecipe') }">
          <a ng-click="tab.setTab('addrecipe')" href="#/addrecipe">Nieuw recept</a>
        </li>
        <!--<li ng-class="{ active:tab.isSet('login') }">-->
          <!--<a ng-click="tab.setTab('login')" href="#/login">Login</a>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</div>
