<div class="recipes" ng-init="getRecipe(recipe._id)">
  <div clas="row">

    <div class="page-header">
      <div class="detailedrecipe">
        <h1>{{recipe.name}}
          <button class="btn btn-default pull-right" ng-click="updateView(recipe._id)">Update</button>
          <button class="btn btn-warning pull-right" ng-click="deleteRecipe(recipe._id)">Delete</button>
          <br>
        </h1>


        <div class="" ng-repeat="category in recipe.category">
          <div class="label label-primary pull-right">{{category}}</div>
        </div>
      </div>


      <div class="col-sm-12">
        <div class="col-sm-8">
          <div class="">
            <h5>Beschrijving</h5>

            <div class="bereiding" ng-bind-html="recipe.description">
            </div>
          </div>
          <div class="">
            <h5>Bereiding</h5>

            <div class="bereiding" ng-bind-html="recipe.preparation">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <img class="img-responsive" ng-src="{{recipe.image}}">
          <h5>Ingredienten</h5>

          <div ng-repeat="ingredient in recipe.ingredients">
            <li>{{ingredient}}</li>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
