<div class="recipes" ng-init="getRecipes()">
  <div class="row top">
    <div class="col-xs-12 top">
      <img class="img-responsive" ng-src="/images/main/bbqpork.jpg">

    </div>
  </div>
  <div class="row search">
    <div class="col-sm-4">
      <div class="panel panel-default search">
        <div class="panel-heading">
          <h3 class="panel-title">Zoek een recept</h3>
        </div>
        <div class="panel-body">
         <input type="text" ng-model="recipes.searchText" placeholder="Zoek naar...">
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default search">
        <div class="panel-heading">
          <h3 class="panel-title">Zoek recepten</h3>
        </div>
        <div class="panel-body">
          <p>Panel content</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default search">
        <div class="panel-heading">
          <h3 class="panel-title">Categorie</h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="checkbox" ng-repeat="category in categories">
              <label><input type="checkbox" ng-model="recipes.searchCategory" ng-true-value="{{category}}"
                            ng-false-value="">{{category}}</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div ng-repeat="recipe in recipes | filter:recipes.searchCategory | filter:recipes.searchText" on-finish-render>
      <div class="col-sm-4 col-md-3 col-lg-3">
        <div class="panel panel-default recipes" ng-click="gotoDetailView(recipe._id)">
          <div class="panel-heading">
            <h3 class="panel-title">{{recipe.name}}</h3>

            <!--<div class="" ng-repeat="category in recipe.category">-->
            <!--<div class="label label-primary pull-right">-->
              <!--<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>-->
              <!--<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>-->
              <!--<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>-->
              <!--<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>-->
              <!--<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>-->
            <!--</div>-->
            <!--</div>-->
            </h3>
          </div>
          <div class="panel-body">
            <!--<div class="col-xs-6">-->
            <img class="img-responsive" ng-src="{{recipe.image}}">
            <div class="img-text" ng-bind-html="recipe.description"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="error" ng-show="error">
    {{error}}
  </div>
</div>
