<div class="recipes" ng-init="getRecipes()">
  <div class="search">
    <div class="row">
      <div class="col-sm-12">
        <!--<div class="input-group">-->
        <input type="text" ng-model="searchText" placeholder="Zoek naar...">
        <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-primary" type="button">Zoek</button>-->
        <!--</span>-->
        <!--</div>-->
      </div>
    </div>
  </div>

  <div class="checkbox-inline" ng-repeat="category in categories">
    <input type="checkbox" ng-model="searchText" ng-checked-value="BBQ">{{category}}
  </div>
{{searchText}}

  <button class="btn btn-primary" ng-click="clear(searchText)">Clear</button>
  deleted: {{deleted}}
  <div class="row">
    <div ng-repeat="recipe in recipes | filter:searchText" >

      <div class="col-sm-6 col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">
              <div class="recipe-name"><a href="#/recipes/{{recipe._id}}">{{recipe.name}}</a></div>
                <!--<button class="btn btn-warning pull-right" ng-click="deleteRecipe(recipe._id)">Delete</button>-->
                <div class="" ng-repeat="category in recipe.category">
                  <div class="label label-primary pull-right">{{category}}</div>
                </div>
            </h3>
          </div>
          <div class="panel-body">
            <div class="col-xs-6">
              <img class="img-responsive" ng-src="{{recipe.image}}">
            </div>
            <div class="col-xs-6">
              <div ng-bind-html="recipe.description" class="description">

                <h2>{{recipe._id}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="error" ng-show="error">
    {{error}}
  </div>
</div>
